.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EDF6F9;
  height: 80vh;
  width: 350px;
  max-width: 100vh;
  padding: 30px;
  border: 1px solid black;

  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 1px 1px 2px 5px rgba(228, 207, 207, 0.3);
}


.imageFrame {
  width: 80%;
  border: solid 2px black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem grey;
}

.spanned {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.imageFrame img {
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}