
.loadingContainer {
  padding:0.5rem;
  border:2px solid black;
  border-radius: 0.5rem;
  position: fixed;
  background-color: var(--midle-blue-green);
  top: 40%;
  left: 40vw;
  width: 20vw;
  min-width: 90px;
  height: 10vh;
}


.logoLoading{

  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loadingText{
  width: 100%;
  font-weight: bold;
  visibility: hidden;
}

.loadingText:after {
  width: 100%;
  visibility: visible;
  content: "Loading";
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% { background-image: url("../../images/Loading/loading0.png");}
  20% { background-image: url("../../images/Loading/loading1.png");}
  40% { background-image: url("../../images/Loading/loading2.png");}
  60% { background-image: url("../../images/Loading/loading3.png");}
  80% { background-image: url("../../images/Loading/loading4.png");}
  100% { background-image: url("../../images/Loading/loading5.png");}
}

@keyframes loadingText {
  0% { content: "Loading ."}
  50% { content: "Loading .."}
  100% { content: "Loading ..."}
}