.formContainer {
  width: 80%;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--alice-blue);
  max-width: 500px;
}

.input {
  width: 100%;
  margin-top: 1rem;
}

.formControl {
  width: 90%;
}
.buttons {
  margin: 1rem;
}
