.activityItemContainer {
  width: 80%;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--alice-blue);
  max-width: 700px;
}

.tooltiptext {
  top: 0px;
  left: 20px;
  visibility: hidden;
  font-size: 1rem;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  padding: 0.3rem;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


.shrinkContainer {
  width: auto;
  border-radius: 2.3rem;
}

.expanded {
  display: block;
  width: 100%;
}

.expanded .card {
  position: fixed;
  left: 0;
}

.collapsed {
  display: none;
}

.wasteButton {
  display: flex;
  align-self: flex-end;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 0.5rem;
}

.wasteButton:hover .tooltiptext {
  visibility: visible;
}

.wasteButton:hover {
  cursor: pointer;
}

.textContainer {
  width: 100%;
}
