.itemsPage {
  width: 100%;
  height: auto;
}

.itemsContainer {
  padding: 0;
  width: 100%;
  height: auto;
}

.introText {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

.link:hover {
  color: white;
}
