.filterContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 100%;
}
 
.input {
  margin-top: 1.1rem;
  padding: 1rem;
  border: 1px solid rgb(184, 176, 176);
  border-radius: 0.25rem;
}

.input:focus {
  outline: none;
  border: 2px solid var(--ming);
}


.btn {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--ming);
  background-color: var(--alice-blue);
  font-weight: bold;
  border-radius: 0.5rem;
}

.btn:focus {
  cursor: pointer;
}