.viewActivitiesContainer {
  width: 100%;
  height: 100vh;
}

.swipe {
  margin-top: 3rem;
  width: 50%;
  left: 25%;
  right: 25%;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

.link:hover {
  color: white;
}

.interestedLink {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  background-color: var(--alice-blue);
  box-shadow: 2px 2px 3px darkgray; 
}

.interestedLink:hover {
  background-color: var(--silk);
}

