.calendar {
  width: 90%;
  height: 90%;
  max-height: 60%;
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  border: solid 1px white;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
}

