.successContainer {
  position: fixed;
  top: 40%;
  left: 40%;
  width: 20vw;
  height: 20vh;
  background-color: var(--alice-blue);
  border: 2px solid var(--ming);

  z-index: 4;
}

.display {
  display: block;
}

.noDisplay {
  display: none;
}
