.buttonMainContainer {
  width: 40%;
  height: 100%;
}

.buttonMainContainer img {
  width: auto;
  height: 100%;
}

.buttonText {
  color: #edf6f9;
  font-size: 1.2rem;
  font-weight: bold;
}

.buttonImage {
  border-radius: 30px;
  border: 2px solid black;
}

.buttonImage:hover {
  opacity: 0.8;
}
