/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: linear-gradient(
      340.97deg,
      #006d77 7.81%,
      rgba(255, 221, 210, 0) 100%
    ),
    linear-gradient(180deg, rgba(255, 221, 210, 0) 34.22%, #ffddd2 87.67%),
    #edf6f9;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --ming: #006d77;
  --midle-blue-green: #83c5be;
  --alice-blue: #edf6f9;
  --silk: #ffddd2;
  --dark-salmon: #e29578;
}

:global(.flex-horizontal) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

:global(.flex-vertical) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

* {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

body {
  width: 100%;
  min-width: 360px;
  min-height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
