
:root {
 --ming : #006D77;
 --midle-blue-green : #83C5BE;
 --alice-blue : #EDF6F9;
 --silk : #FFDDD2;
 --dark-salmon : #E29578;     
}

:global(.flex-horizontal) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

:global(.flex-vertical) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

body {
  width:100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
